doctype html
html
	head
	title=bob
	link(rel='stylesheet', href='/stylesheets/style.css')
	
	body
		block content
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/app.js')